<html>
    <head>
        <title>My Express Application</title>
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>
        <!-- <script src="js/main.js"></script> -->
    </head>
    <body>
        <script>
            $(document).ready(function(){
    $('.deleteUser').on('click',deleteUser);
});
function deleteUser(){
    alert('1');
}
            </script>